VITE_API_BASE=https://ownexa.onrender.com
VITE_SMART_CONTRACT=0x5B61c458Ea3cE4abdD8657012A38c23Fb17ba281
VITE_MALE_AVATARS=["https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar2.png","https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar1.png","https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar5.png","https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar6.png"]
VITE_FEMALE_AVATARS=["https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar3.png","https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar4.png","https://ydfmsiyztdzevkgjxknl.supabase.co/storage/v1/object/public/Avatars/avatar7.png"]
